<!DOCTYPE html>
<html lang="en">
<head>
<title>New Application</title>

<meta charset="utf-8" />

<style type="text/css">
body, section, p, input, label, h1, h2, h3, h4
{
    font-family: Ubuntu, Futura, sans-serif;
}

body
{
}

/* add some styles to our form */
label
{ 
    display: block; 
    text-align: right; 
    float:left; 
    width: 130px;
    padding-right: .5em;
}


dt
{
    float:left; 
    display: inline;
    font-weight: bold;
    margin-right: .5em;
}


</style>

</head>

<body>


<header>
<h1><a href="/" title="see the list of apps">Apps4Ed Database</a></h1>
<nav id="main-nav">
    <a href="/add_app">add an app</a>
</nav>
</header>


<h2>{{app.title}}</h2>
[<a href="/app/{{app.id}}/edit">edit</a>] [<a href="/app/{{app.id}}/del">delete</a>]
<dl>
    <dt>Price:</dt>
    <dd>{{app.cost}}</dd>
    <dt>Developer:</dt>
    <dd>{{app.developer}}</dd>
    <dt>Site:</dt>
    <dd><a href="{{app.url}}">{{app.url}}</a></dd>

</dl>

</body>

</html>
