<!DOCTYPE html>
<html lang="en">
<head>
<title>New Application</title>

<meta charset="utf-8" />

<style type="text/css">
body, section, p, input, label, h1, h2, h3, h4
{
    font-family: Ubuntu, Futura, sans-serif;
}

body
{
}

/* add some styles to our form */
label
{ 
    display: block; 
    text-align: right; 
    float:left; 
    width: 130px;
    padding-right: .5em;
}


</style>

</head>

<body>
<header>
<h1>Apps4Ed Database</h1>

<nav id="main-nav">
<a href="/">app list</a> | <a href="/new_app">add an app</a>
</nav>

</header>
<section id="app-list">
<ul>

{% for app in app_list %}
    <li><a href="/app/{{app.slug}}">{{app.title}}</a> <a href="/app/{{app.slug}}/del" title="delete this app">x</a></li>
{% endfor %}

</ul>

</section>

</body>

</html>
