<!DOCTYPE html>
<html lang="en">
<head>
<title>New Application</title>

<meta charset="utf-8" />

<style type="text/css">
body, section, p, input, label, h1, h2, h3, h4
{
    font-family: Ubuntu, Futura, sans-serif;
}

body
{
}

/* add some styles to our form */
label
{ 
    display: block; 
    text-align: right; 
    float:left; 
    width: 130px;
    padding-right: .5em;
}

table
{
  border-collapse:collapse;
  min-width: 800px;
  line-height: 1.5em;
}

th
{
  background: black;
  color: white;
  font-weight: bold;
}
.center
{
    text-align: center;
}
</style>

</head>

<body>
<header>
<h1><a href="/" title="see the list of apps">Apps4Ed Database</a></h1>
<nav id="main-nav">
    <a href="/add_app">add an app</a>
</nav>
</header>
<section id="app-list">
<table>

<tr>
    <th>App name</th>
    <th>Rating</th>
    <th>Rate</th>
    <th>Delete</th>
</tr>

{% for app in app_list %}
    <tr>
        <td><a href="/app/{{app.id}}" title="see app details">{{app.title}}</a></td>
        <td>{{app.rating}} ({{app.num_ratings}} total)</td>
        <td class="center">
        {% for i in "12345" %}
            [<a href="/rate/{{app.id}}/{{ i }}">{{i}}</a>] 
        {% endfor %}
        </td>
        <td class="center"><a href="/app/{{app.id}}/del" title="delete this app">x</a></td>
    </tr>
{% endfor %}

</table>

</section>

</body>

</html>
