{% extends "base.html" %}

{% block body %}
<section id="app-list">
    <table>
        <tr>
            <th>App name</th>
            <th>Rating</th>
            <th>Rate</th>
            <th>Delete</th>
        </tr>

    {% for app in app_list %}
        <tr>
            <td><a href="/app/{{app.id}}" title="see app details">{{app.title}}</a></td>
            <td>{{app.rating}} ({{app.num_ratings}} total)</td>
            <td class="center">
            {% for i in "12345" %}
                [<a href="/rate/{{app.id}}/{{ i }}">{{i}}</a>] 
            {% endfor %}
            </td>
            <td class="center"><a href="/app/{{app.id}}/del" title="delete this app">x</a></td>
        </tr>
    {% endfor %}
    </table>
</section>
{% endblock %}
